.statusInputWrapper {
    margin-bottom: 2em;
    
    .statusWrapper {
        
        .status {
            background-color: var(--bg-color-light);
            font-size: 1rem;
            padding: 0.5em 1em;
            border-radius: 0.3em;
            display: inline-block;
            
            &:hover {
                cursor: auto;
            }
        }
    }

    .inputWrapper {
        
        input:focus {
            font-size: 0.9rem;
            outline: none;
            padding: 0.5em 1em;
            border-radius: 0.3em;
        }
    }
}
