.dialog {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 2em;
    padding: 0.75em 1em;
    background-color: var(--bg-color-light);
    border-radius: 0.5em;
    transition: background-color 0.3s;

    &:hover {
        cursor: pointer;
        background-color: var(--bg-item-color);
        color: var(--gray-text-color);
    }    

    img {
        max-width: 2em;
        border-radius: 50%;
    }
    a {
        display: block;
        margin-left: 2em;
        text-decoration: none;
        color: inherit;
        transition: color 0.3s;
           
    }
    .active {
        color: var(--white-text-color);
        transition: color 0.3s;       
    }
}
