.homePage {
    color: var(--white-text-color);

    .headerGroup {
        display: flex;
        justify-content: flex-start;
        padding: 0;

        .title {
            background-color: var(--bg-color-medium);
            text-transform: uppercase;
            font-size: 1rem;
            padding: 0.5em 0.75em;
            border-radius: 0.3em;
            margin-top: 0;
            margin-bottom: 0.9em;
            
            &:hover {
                cursor: pointer;
            }
        }
        .title:first-child {
            margin-right: 0.3em;
            margin-left: 0.1em;
        }
    }
    
    .aboutMeSection {
        display: flex;
        align-items: center;
        background-color: var(--bg-color-medium);
        border-radius: 0.5em;

        .textWrapper {
            max-width: 75%;
            margin-right: 2em;
            margin-left: 1em;
            line-height: 1.5;
        }
        .figure {
            transform: scale(1);
            transition: transform 1s;
            background-color: var(--bg-color-light);
            padding:0.5em;
            border-radius: 0.5em;

            img {
                object-fit: contain;
                border-radius: 0.5em;
            }

            figcaption {
                font-size: 0.75rem;
                text-align: center;
            }
        }

        .figure:hover {
            transform: scale(1.1);
            transition: transform 1s;
            cursor: pointer;
        }
    }

    .mySkillsWrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        flex-wrap: wrap;
        padding: 0.5em;
        background-color: var(--bg-color-medium);
        border-radius: 0.5em;

        .skills {
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-start;
            align-items:center;

            .skill {
                padding: 0.5em;
                margin: 0.5em 0.25em;
                flex: 1 1 10em;
                border-radius: 0.3em;
                background-color: var(--bg-color-dark);
                transition: transform 0.2s, border-radius 0.2s;
    
                &:hover {
                    cursor: pointer;
                    transform: scale(1.02);
                    border-radius: 0.2em;
                    background-color: var(--selected-text-solor);
                }
            }
        }
    }
}