.header {
    grid-area: header;
    background-color: var(--bg-color-medium);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-left: 0.5em;
    
    .title {
        flex: 8 8 80%;
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 0.1em;
        font-size: 3rem;
        font-weight: 900;
        color: aliceblue;
        text-shadow: 0.01em 0.01em 0.1em rgb(236, 223, 203);
    }

    .loginBlock {
        flex: 1 1 10%;
        display: flex;
        justify-content: center;
        align-items: center;

        .loginWrapper {
            display: flex;
            flex-direction: column;
            justify-content: center;
            letter-spacing: 0.1em;
                    
            .login {
                color: aliceblue;
                padding-bottom: 1em;
            }                        
        }
    }    
}    
