.item {
    display: flex;
    padding: 1em;
    background-color: var(--wthite-color);
    margin-bottom: 1em;
    border-radius: 1em;

    .imageFigure {
        margin: 0 5em 0 0;

        img {
            max-width: 5em;
            border-radius: 50%;
            object-fit: contain;
        }
    }
    
}
