.formControl.error input,
.formControl.error textarea {
    border: 2px solid rgb(255, 0, 0);
}
 
.formControl.error span {
    color: var(--white-color);
}

.formSummaryError {
    color:crimson;
}
