.formControl.error input,
.formControl.error textarea {
    border: 4px solid var(--red-color);
}
 
.formControl.error div {
    font-size: 0.75rem;
    text-align: center;
    color: var(--red-color);
    margin-top: 0.2em;
}

.formSummaryError {
    color: var(--red-color);
}
