.app-wrapper {
  max-width: 90%;
  margin: 0 auto;
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 2fr 10fr;
  grid-template-areas: "header header"
                       "navbar content";

  .app-wrapper-content {
    grid-area: content;
    width: 100%;
    background-color: var(--bg-color-dark);
    padding: 3em 2em;
  }
}

.button {
  text-align: center;
  border: none;
  border-radius: 10%;
  padding: 0.5em;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.1em;
  background: navy;
  color: aliceblue;
  cursor: pointer;

  &:hover {
    background: var(--bg-hover-button);
    color: var(--color-hover-button);
  }
}

.sendButton {
  font-size: 0.75rem;
  padding: 0.35em 0.5em;
  cursor: pointer;
  outline: none;
  border: 2px solid var(--wthite-color);
  background-color: var(--bg-color-dark);
  color: var(--white-text-color);
  border-radius: 0.3em;
  transition: background-color 0.3s, color 0.3s, transform 0.3s;

  &:hover {
      background-color: var(--bg-color-light);
      color: var(--black-color);
      transform: translateY(0.3em);
      border-color: var(--bg-color-medium);
  }
}

html {
  /* background colors */
  --bg-color-dark: hsl(223, 8%, 64%);
  --bg-color-medium: hsl(231, 44%, 56%);
  --bg-color-light: hsl(233, 81%, 75%);
  --bg-item-color: hsl(180, 81%, 26%);
  /* text colors */
  --white-text-color: hsl(0, 0%, 100%);
  --dark-text-color: hsl(10, 4%, 10%);
  --selected-text-solor: hsl(310, 80%, 31%);
  --gray-text-color: hsl(240, 21%, 85%);
  --error-color: hsl(0, 80%, 50%);
  --link-color: rgb(17, 151, 175);
  /* other colors */
  --wthite-color: hsl(0, 0%, 100%);
  --gray-color: hsl(0, 0%, 50%);
  --black-color: hsl(0, 0%, 0%);
  /* buttons */
  --bg-button: navy;
  --color-button: aliceblue;
  --bg-hover-button: rgba(0, 0, 128, 0.384);
  --color-hover-button: rgb(233, 57, 13);
}