.app-wrapper {
  max-width: 90%;
  margin: 0 auto;
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 2fr 10fr;
  grid-template-areas: "header header"
                       "navbar content";

  .app-wrapper-content {
    grid-area: content;
    background-color: var(--bg-color-dark);
  }
}
