.dialogs {
    
    .dialogBlock {
        display: flex;
        padding: 1em;

        .dialogsItems {
             padding: 1em 0;
             flex: 1 1 19em;
             margin-right: 3em;
        }
    
        .messages {
            padding: 1em 0;
            flex: 2 2 20em;
            color: var(--white-text-color);
        }
    }
}
